form method="POST"
  input type="hidden" name="authenticity_token" id="authenticity_token" value=form_authenticity_token /
  input type="text" name="name" placeholder="name" required="1" /
  input type="submit" value="Generate token" /
